In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt

In [2]:
# read in stock data

stocks = pd.read_csv('stock_prices.csv')

In [4]:
# take a look!

stocks.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [21]:
stocks.tail()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
2332526,20211203_9990,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,20211203_9991,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,20211203_9993,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,20211203_9994,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,20211203_9997,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [5]:
# We exanime the attribute

stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332531 entries, 0 to 2332530
Data columns (total 12 columns):
RowId               object
Date                object
SecuritiesCode      int64
Open                float64
High                float64
Low                 float64
Close               float64
Volume              int64
AdjustmentFactor    float64
ExpectedDividend    float64
SupervisionFlag     bool
Target              float64
dtypes: bool(1), float64(7), int64(2), object(2)
memory usage: 198.0+ MB

In [6]:
# Change Date from object to date

stocks["Date"] = pd.to_datetime(stocks["Date"])

In [29]:
# So, what's our target
# First, we select stock 1301 as our example

stock_1301 = stocks[stocks.SecuritiesCode == 1301].reset_index(drop=True)
stock_1301

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170105_1301,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920
2,20170106_1301,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092
3,20170110_1301,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100
4,20170111_1301,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295
...,...,...,...,...,...,...,...,...,...,...,...,...
1197,20211129_1301,2021-11-29,1301,2975.0,2984.0,2951.0,2951.0,14300,1.0,NaN,False,0.003793
1198,20211130_1301,2021-11-30,1301,2953.0,2997.0,2900.0,2900.0,20500,1.0,NaN,False,0.007558
1199,20211201_1301,2021-12-01,1301,2909.0,2936.0,2909.0,2911.0,10600,1.0,NaN,False,0.016706
1200,20211202_1301,2021-12-02,1301,2949.0,2973.0,2933.0,2933.0,15200,1.0,NaN,False,-0.003689
1201,20211203_1301,2021-12-03,1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639

In [31]:
# Basically, target is the furture return rate
# target = [Close (t+2) - Close(t+1)] / Close (t+1)
# Where t is the date

print(f'Today is {stock_1301.Date[0]}, so t is {stock_1301.Date[0]}')
print(f't+1 is {stock_1301.Date[1]}, and t+2 is {stock_1301.Date[2]}')
print(f'The Close price for t+1 is {stock_1301.Close[1]}')
print(f'The Close price for t+2 is {stock_1301.Close[2]}')
print(f'The Target, or the return rate, would be counted as ({stock_1301.Close[2]} - {stock_1301.Close[1]}) / {stock_1301.Close[1]}')
print(f', so the Target would be {(stock_1301.Close[2] - stock_1301.Close[1])/stock_1301.Close[1]}')

Today is 2017-01-04 00:00:00, so t is 2017-01-04 00:00:00
t+1 is 2017-01-05 00:00:00, and t+2 is 2017-01-06 00:00:00
The Close price for t+1 is 2738.0
The Close price for t+2 is 2740.0
The Target, or the return rate, would be counted as (2740.0 - 2738.0) / 2738.0
, so the Target would be 0.0007304601899196494

In [32]:
# Its policy

print(f'Making decision to buy the stock: Date t')
print(f'Successfully buy the stock: Date t+1 with its Close price')
print(f'Sell to get profit: Date t+2 with its Close price')

Making decision to buy the stock: Date t
Successfully buy the stock: Date t+1 with its Close price
Sell to get profit: Date t+2 with its Close price

In [7]:
# We first select one date

temp = stocks[stocks.Date == "2021-12-03"].reset_index(drop=True)
temp

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20211203_1301,2021-12-03,1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639
1,20211203_1332,2021-12-03,1332,579.0,585.0,570.0,585.0,1195500,1.0,NaN,False,-0.056027
2,20211203_1333,2021-12-03,1333,2333.0,2358.0,2315.0,2358.0,103200,1.0,NaN,False,0.013462
3,20211203_1375,2021-12-03,1375,1222.0,1236.0,1218.0,1235.0,69900,1.0,NaN,False,0.032680
4,20211203_1376,2021-12-03,1376,1370.0,1370.0,1321.0,1332.0,5000,1.0,NaN,False,0.032568
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,20211203_9990,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
1996,20211203_9991,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
1997,20211203_9993,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
1998,20211203_9994,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
1999,20211203_9997,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [8]:
# Then we create a rank column based on target 

temp["rank"] = temp["Target"].rank(ascending=False, method="first") - 1 # Start from 0
temp = temp.sort_values("rank").reset_index(drop=True)

/Users/jason/anaconda/lib/python3.6/site-packages/pandas/compat/_optional.py:106: UserWarning: Pandas requires version '2.6.2' or newer of 'numexpr' (version '2.6.1' currently installed).
  warnings.warn(msg, UserWarning)

In [9]:
temp.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank
0,20211203_4699,2021-12-03,4699,2140.0,2180.0,2117.0,2160.0,19700,1.0,NaN,True,0.187970,0.0
1,20211203_1873,2021-12-03,1873,342.0,352.0,340.0,352.0,84200,1.0,NaN,False,0.186782,1.0
2,20211203_6779,2021-12-03,6779,1558.0,1582.0,1489.0,1546.0,519200,1.0,NaN,False,0.159624,2.0
3,20211203_7809,2021-12-03,7809,6060.0,6430.0,5830.0,6410.0,46300,1.0,NaN,False,0.136667,3.0
4,20211203_3031,2021-12-03,3031,1191.0,1193.0,1155.0,1155.0,1651500,1.0,NaN,False,0.119069,4.0

In [20]:
temp.tail()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank
1995,20211203_6958,2021-12-03,6958,527.0,528.0,503.0,514.0,436000,1.0,NaN,False,-0.058201,1995.0
1996,20211203_9790,2021-12-03,9790,3825.0,3890.0,3820.0,3860.0,23200,1.0,NaN,False,-0.084321,1996.0
1997,20211203_2158,2021-12-03,2158,3105.0,3245.0,2365.0,2365.0,11828500,1.0,NaN,False,-0.091797,1997.0
1998,20211203_6718,2021-12-03,6718,2156.0,2212.0,2133.0,2194.0,49600,1.0,NaN,False,-0.092211,1998.0
1999,20211203_9919,2021-12-03,9919,1817.0,1845.0,1802.0,1829.0,55200,1.0,NaN,False,-0.224215,1999.0

In [10]:
# In the submitssion we need to rank the stock
# The rank is based on "target"
# In the competition, it would count score by the rank
# The team with the highest score win the competition!

# Now let's see how it works
# First, taking top 200 stocks by the rank

temp_top200 = temp.iloc[:200 ,:]
temp_top200

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank
0,20211203_4699,2021-12-03,4699,2140.0,2180.0,2117.0,2160.0,19700,1.0,NaN,True,0.187970,0.0
1,20211203_1873,2021-12-03,1873,342.0,352.0,340.0,352.0,84200,1.0,NaN,False,0.186782,1.0
2,20211203_6779,2021-12-03,6779,1558.0,1582.0,1489.0,1546.0,519200,1.0,NaN,False,0.159624,2.0
3,20211203_7809,2021-12-03,7809,6060.0,6430.0,5830.0,6410.0,46300,1.0,NaN,False,0.136667,3.0
4,20211203_3031,2021-12-03,3031,1191.0,1193.0,1155.0,1155.0,1651500,1.0,NaN,False,0.119069,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20211203_7570,2021-12-03,7570,1950.0,1983.0,1920.0,1973.0,20500,1.0,NaN,False,0.047980,195.0
196,20211203_7354,2021-12-03,7354,3730.0,3845.0,3690.0,3845.0,75100,1.0,NaN,False,0.047936,196.0
197,20211203_8570,2021-12-03,8570,1198.0,1235.0,1187.0,1235.0,827900,1.0,NaN,False,0.047890,197.0
198,20211203_9628,2021-12-03,9628,1428.0,1465.0,1398.0,1459.0,23000,1.0,NaN,False,0.047814,198.0
199,20211203_8089,2021-12-03,8089,1666.0,1701.0,1666.0,1698.0,15500,1.0,NaN,False,0.047790,199.0

In [11]:
# These stocks would be weighted

weights = np.linspace(start = 2, stop = 1, num = 200)
weights

array([2.        , 1.99497487, 1.98994975, 1.98492462, 1.9798995 ,
       1.97487437, 1.96984925, 1.96482412, 1.95979899, 1.95477387,
       1.94974874, 1.94472362, 1.93969849, 1.93467337, 1.92964824,
       1.92462312, 1.91959799, 1.91457286, 1.90954774, 1.90452261,
       1.89949749, 1.89447236, 1.88944724, 1.88442211, 1.87939698,
       1.87437186, 1.86934673, 1.86432161, 1.85929648, 1.85427136,
       1.84924623, 1.84422111, 1.83919598, 1.83417085, 1.82914573,
       1.8241206 , 1.81909548, 1.81407035, 1.80904523, 1.8040201 ,
       1.79899497, 1.79396985, 1.78894472, 1.7839196 , 1.77889447,
       1.77386935, 1.76884422, 1.7638191 , 1.75879397, 1.75376884,
       1.74874372, 1.74371859, 1.73869347, 1.73366834, 1.72864322,
       1.72361809, 1.71859296, 1.71356784, 1.70854271, 1.70351759,
       1.69849246, 1.69346734, 1.68844221, 1.68341709, 1.67839196,
       1.67336683, 1.66834171, 1.66331658, 1.65829146, 1.65326633,
       1.64824121, 1.64321608, 1.63819095, 1.63316583, 1.6281407 ,
       1.62311558, 1.61809045, 1.61306533, 1.6080402 , 1.60301508,
       1.59798995, 1.59296482, 1.5879397 , 1.58291457, 1.57788945,
       1.57286432, 1.5678392 , 1.56281407, 1.55778894, 1.55276382,
       1.54773869, 1.54271357, 1.53768844, 1.53266332, 1.52763819,
       1.52261307, 1.51758794, 1.51256281, 1.50753769, 1.50251256,
       1.49748744, 1.49246231, 1.48743719, 1.48241206, 1.47738693,
       1.47236181, 1.46733668, 1.46231156, 1.45728643, 1.45226131,
       1.44723618, 1.44221106, 1.43718593, 1.4321608 , 1.42713568,
       1.42211055, 1.41708543, 1.4120603 , 1.40703518, 1.40201005,
       1.39698492, 1.3919598 , 1.38693467, 1.38190955, 1.37688442,
       1.3718593 , 1.36683417, 1.36180905, 1.35678392, 1.35175879,
       1.34673367, 1.34170854, 1.33668342, 1.33165829, 1.32663317,
       1.32160804, 1.31658291, 1.31155779, 1.30653266, 1.30150754,
       1.29648241, 1.29145729, 1.28643216, 1.28140704, 1.27638191,
       1.27135678, 1.26633166, 1.26130653, 1.25628141, 1.25125628,
       1.24623116, 1.24120603, 1.2361809 , 1.23115578, 1.22613065,
       1.22110553, 1.2160804 , 1.21105528, 1.20603015, 1.20100503,
       1.1959799 , 1.19095477, 1.18592965, 1.18090452, 1.1758794 ,
       1.17085427, 1.16582915, 1.16080402, 1.15577889, 1.15075377,
       1.14572864, 1.14070352, 1.13567839, 1.13065327, 1.12562814,
       1.12060302, 1.11557789, 1.11055276, 1.10552764, 1.10050251,
       1.09547739, 1.09045226, 1.08542714, 1.08040201, 1.07537688,
       1.07035176, 1.06532663, 1.06030151, 1.05527638, 1.05025126,
       1.04522613, 1.04020101, 1.03517588, 1.03015075, 1.02512563,
       1.0201005 , 1.01507538, 1.01005025, 1.00502513, 1.        ])

In [12]:
# Add weights to the table

temp_top200["weights"] = weights
temp_top200.head()

/Users/jason/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank,weights
0,20211203_4699,2021-12-03,4699,2140.0,2180.0,2117.0,2160.0,19700,1.0,NaN,True,0.187970,0.0,2.000000
1,20211203_1873,2021-12-03,1873,342.0,352.0,340.0,352.0,84200,1.0,NaN,False,0.186782,1.0,1.994975
2,20211203_6779,2021-12-03,6779,1558.0,1582.0,1489.0,1546.0,519200,1.0,NaN,False,0.159624,2.0,1.989950
3,20211203_7809,2021-12-03,7809,6060.0,6430.0,5830.0,6410.0,46300,1.0,NaN,False,0.136667,3.0,1.984925
4,20211203_3031,2021-12-03,3031,1191.0,1193.0,1155.0,1155.0,1651500,1.0,NaN,False,0.119069,4.0,1.979899

In [13]:
# weighted return = Target * weights

temp_top200["weighted_return"] = temp_top200["Target"] * temp_top200["weights"]
temp_top200.head()

/Users/jason/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank,weights,weighted_return
0,20211203_4699,2021-12-03,4699,2140.0,2180.0,2117.0,2160.0,19700,1.0,NaN,True,0.187970,0.0,2.000000,0.375940
1,20211203_1873,2021-12-03,1873,342.0,352.0,340.0,352.0,84200,1.0,NaN,False,0.186782,1.0,1.994975,0.372625
2,20211203_6779,2021-12-03,6779,1558.0,1582.0,1489.0,1546.0,519200,1.0,NaN,False,0.159624,2.0,1.989950,0.317645
3,20211203_7809,2021-12-03,7809,6060.0,6430.0,5830.0,6410.0,46300,1.0,NaN,False,0.136667,3.0,1.984925,0.271273
4,20211203_3031,2021-12-03,3031,1191.0,1193.0,1155.0,1155.0,1651500,1.0,NaN,False,0.119069,4.0,1.979899,0.235745

In [14]:
# Finally, we can count a score for the top 200 stocks

Sup = temp_top200["weighted_return"].sum()/np.mean(weights)
Sup

12.784095883646295

In [16]:
# On the other hand, we also need to count a score for the last 200 stocks

temp_bottom200 = temp.iloc[-200:,:]
temp_bottom200 = temp_bottom200.sort_values("rank", ascending = False).reset_index(drop = True)
temp_bottom200

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,rank
0,20211203_9919,2021-12-03,9919,1817.0,1845.0,1802.0,1829.0,55200,1.0,NaN,False,-0.224215,1999.0
1,20211203_6718,2021-12-03,6718,2156.0,2212.0,2133.0,2194.0,49600,1.0,NaN,False,-0.092211,1998.0
2,20211203_2158,2021-12-03,2158,3105.0,3245.0,2365.0,2365.0,11828500,1.0,NaN,False,-0.091797,1997.0
3,20211203_9790,2021-12-03,9790,3825.0,3890.0,3820.0,3860.0,23200,1.0,NaN,False,-0.084321,1996.0
4,20211203_6958,2021-12-03,6958,527.0,528.0,503.0,514.0,436000,1.0,NaN,False,-0.058201,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20211203_9757,2021-12-03,9757,2626.0,2663.0,2622.0,2641.0,75000,1.0,NaN,False,0.006865,1804.0
196,20211203_7278,2021-12-03,7278,1642.0,1666.0,1640.0,1662.0,98600,1.0,NaN,False,0.007084,1803.0
197,20211203_6723,2021-12-03,6723,1395.0,1400.0,1340.0,1397.0,11109600,1.0,NaN,False,0.007133,1802.0
198,20211203_2871,2021-12-03,2871,2643.0,2664.0,2620.0,2664.0,382300,1.0,NaN,False,0.007154,1801.0
199,20211203_9955,2021-12-03,9955,2100.0,2100.0,2062.0,2070.0,1200,1.0,NaN,False,0.007194,1800.0

In [17]:
# Then we count the score for the last 200 stocks

temp_bottom200["weights"] = weights
temp_bottom200["calc_weights"] = temp_bottom200["Target"] * temp_bottom200["weights"]
Sdown = temp_bottom200["calc_weights"].sum()/np.mean(weights)
Sdown

-1.6545226418872847

In [18]:
# Finally, daily spread return would be calculated by Sup - Sdown

daily_spread_return = Sup - Sdown
daily_spread_return

# The basic idea is that buy low and sell high for the top 200 stocks (purchase)
# and sell high then buy low for the bottom 200 stocks (short)
# For the competition, daily spread return is not the final score
# final socre = average daily spread return / standard deviation of daily spread return 
# for a given period from day 1 to day x

14.43861852553358

In [ ]:
# Ideas for our predictions
# 0. Output positive or negative (one stock -> the other one ex 20, least and most modelable)
# 1. Input one day's data then Output its target (Dec 13 data > Dec 13 target)
# 2. Input several day's data then Output its target (Nov 14 - Dec 13 Data > Dec 13 target)
# 3. Do not Output return but rank (base classes)
# Models: KNN, Neural Network, Random Forest, decision tree
# Data: Open, High, Low, Close, Volume
# Libraries: Pandas, Numpy, Sciki-Learn
# Front End? Enter the data (stock) they want