In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt

In [2]:
# What to predict ? 
# Example of sample submission

sample = pd.read_csv("sample_submission.csv")

sample.head()

         Date  SecuritiesCode  Rank
0  2021-12-06            1301     0
1  2021-12-06            1332     1
2  2021-12-06            1333     2
3  2021-12-06            1375     3
4  2021-12-06            1376     4

In [3]:
# There are 56 date
# For each date there are 2000 stocks
# They are ranked

sample.nunique()

Date                56
SecuritiesCode    2000
Rank              2000
dtype: int64

In [13]:
sample.tail()

              Date  SecuritiesCode  Rank
111995  2022-02-28            9990  1995
111996  2022-02-28            9991  1996
111997  2022-02-28            9993  1997
111998  2022-02-28            9994  1998
111999  2022-02-28            9997  1999